html{
  border-style: dotted;
  border-color: black;
}

body{
  margin: 60px;
}

h1 {
  color: yellow;
  font-size: 40px;
  font-family: Times New Roman;
  text-align: center;
}

h1 a{
    color: purple;
}

h2 {
  color: blue;
  font-size: 25px; 
}

h3 {
  color: green;
  font-style: italic;
}

p {
  color: black;
  font-size: 25px; 
}